@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #e8edeb;
}

header {
    padding: 15px 32px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    font-weight: bold;
    font-size: 280%;
    color: #252525;
    letter-spacing: 3px;
    font-family: Oswald, sans-serif;
}

.menu {
    display: flex;
    gap: 40px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}
